<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<listener class-name="listners.CustomListner"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/TestNGListenrs/src/main/java/listners/ListnersClass.java">
        <classes>
            <class name="listners.ListnersClass">

            </class>
        </classes>
    </test>
</suite>